PROMPT.txt

.github

.tripadvisor

.vscode
node_modules
build

tripadvisor/screencapture-tripadvisor-2025-07-03-10_46_42.png
tripadvisor/screencapture-tripadvisor-Hotels-2025-07-03-10_50_39.png
tripadvisor/screencapture-tripadvisor-Profile-amilaf837-2025-07-03-10_49_30.png
tripadvisor/screencapture-tripadvisor-TravelersChoice-2025-07-03-10_40_13.png
tripadvisor/screencapture-tripadvisor-TravelersChoice-Destinations-2025-07-03-10_45_35.png
tripadvisor/screencapture-tripadvisor-TripDetails-t148865244-2025-07-03-10_41_41.png
tripadvisor/screencapture-tripadvisor-TripDetails-t148865244-2025-07-03-10_42_01.png
tripadvisor/screencapture-tripadvisor-TripDetails-t148865244-2025-07-03-10_42_28.png
tripadvisor/screencapture-tripadvisor-TripDetails-t148865244-2025-07-03-10_43_01.png
tripadvisor/screencapture-tripadvisor-Trips-2025-07-03-10_40_57.png
tripadvisor/screencapture-tripadvisor-Trips-2025-07-03-10_41_10.png
tripadvisor/screencapture-tripadvisor-Trips-2025-07-03-10_43_38.png
tripadvisor/screencapture-tripadvisor-Trips-2025-07-03-10_43_53.png

# Ignore environment variable files
.env
.env.*
